//Color palette
$background: #F5F5F5;
$post-blue: #7BB8DA;
$blue-overlay-text: #404040;
$placeholder: rgba(74, 74, 74, 0.4);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
  background-color: $background;
  padding: 40px;

  @media (max-width: 500px) {
    padding: 30px;
  }
}

#create-post {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  max-width: 600px;
  min-width: 300px;
  height: 340px;

  @media (max-width: 500px) {
    height: 300px;
  }

  input, textarea, button {
    padding: 15px 20px;
    background-color: white;
    border-radius: 20px;
    outline: none;
    border: none;
    color: black;

    &::placeholder {
      color: $placeholder;
      font-family: 'Roboto', sans-serif;
    }
  }

  input {
    width: 60%;
    font-size: 24px;

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  textarea {
    flex: 1;
    font-size: 20px;
    width: 100%;
    margin: 20px 0;
    resize: none;
  }

  button {
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    width: 40%;
    margin-left: auto;
    background-color: $post-blue;
    color: $blue-overlay-text;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($post-blue, 5);
    }

    @media (max-width: 800px) {
      width: 60%;
      margin: 0 auto;
    }

    @media (max-width: 450px) {
      width: 100%;
    }

  }
}

#posts-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .post {
    width: 400px;
    max-width: 400px;
    min-width: 270px;
    margin: 0 25px 25px 25px;

    @media (max-width: 1140px) {
      max-width: 350px;
    }

    @media (max-width: 500px) {
      margin: 0 0 25px 0;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 10px 50px;
      background-color: $post-blue;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      text-align: center;
      min-height: 50px;
      font-size: 24px;
      color: $blue-overlay-text;

      span {
        line-height: 25px;
      }

      button {
        position: absolute;
        top: 50%;
        text-align: center;
        vertical-align: center;
        outline: none;
        cursor: pointer;
        border: none;
        background: none;
      }

      .delete-post {
        right: 0;
        transform: translate(-50%, -50%);
      }

      .edit-post, .edit-confirm {
        left: 0;
        transform: translate(50%, -50%);
      }

    }

    .section {
      padding: 15px;
      background-color: white;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      .date-time {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $placeholder;
        text-align: center;
      }
    }
  }
}