<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>Simple Post</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
    <form id="create-post" method="post" th:action="@{/posts/add}" th:object="${post}">
        <label for="title"></label>
        <input id="title" type="text" name="title" placeholder="Заголовок" th:field="*{title}">
        <label for="text"></label>
        <textarea id="text" name="text" placeholder="Напишите что-нибудь..." th:field="*{text}"></textarea>
        <button type="submit">Отправить</button>
    </form>
    <div id="posts-wrapper">
        <div th:each="post : ${posts}" class="post">
            <div class="header">
                <span th:text="*{post.title}"></span>
                <form th:action="@{/posts/delete(id=${post.id})}" method="post">
                    <button class="delete-post" type="submit">
                        <img src="" th:src="@{/delete-post.svg}" alt="delete">
                    </button>
                </form>
                <button class="edit-post">
                    <img src="" th:src="@{/edit-post.svg}" alt="delete">
                </button>
            </div>
            <div class="section">
                <p th:text="*{post.text}"></p>
                <div class="date-time">
                    <span class="date" th:text="*{post.creationDateFormatted}"></span>
                    <span class="time" th:text="*{post.creationTimeFormatted}"></span>
                </div>
            </div>
        </div>
    </div>

    <script src="" th:src="@{/script.js}"></script>
</body>
</html>